<div class="col-sm-3">
    <%= render "layouts/left_sidebar"%>
</div>        
<div class="col-sm-9 padding-right">
	<%= render 'categories/products_grid', products: @products.where(feature: true)%> 
</div>


