/
  Carousel
  \==================================================
#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner
    .item.active
      %img.img-responsive{:src => "/assets/example/bg_suburb.jpg", :style => "width:100%"}
        .container
          .carousel-caption
            %h1 Slide 1
            %p
            %p
              %a.btn.btn-lg.btn-primary{:href => "#"} Learn More
    .item
      %img.img-responsive{:src => "http://placehold.it/1500X500"}
        .container
          .carousel-caption
            %h1 Slide 2
            %p Grid Layout.
            %p
              %a.btn.btn-large.btn-primary{:href => "#"} Learn more
    .item
      %img.img-responsive{:src => "http://placehold.it/1500X500"}
        .container
          .carousel-caption
            %h1 Slide 3
            %p Percentage-based sizing.
            %p
              %a.btn.btn-large.btn-primary{:href => "#"} Browse gallery
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %span.icon-next
/ /.carousel
/
  Marketing messaging and featurettes
  \==================================================
/ Wrap the rest of the page in another container to center all the content.
.container.marketing
  / Three columns of text below the carousel
  .row
    .col-md-4.text-center
      %img.img-circle{:src => "http://placehold.it/140x140"}
        %h2 Free Shipping
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque beatae tempore porro officiis!.
    .col-md-4.text-center
      %img.img-circle{:src => "http://placehold.it/140x140"}
        %h2 We're now global!
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque beatae tempore porro officiis!
       
    .col-md-4.text-center
      %img.img-circle{:src => "http://placehold.it/140x140"}
        %h2 Lowest price guarantee!
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque beatae tempore porro officiis!
 
          
  / /.row