<div id="footer">
  <div class="container">
    <p class="text-muted">Develop & Design by: <a href="mailto:vishal.singh030@gmail.com">Vishal Singh</a></p>
  </div>
</div>

<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>