<form action="<%= store_search_path %>"  id="search-form" role="form">
  <input  name="q" placeholder="<%= t('store.search_input_placeholder') %>" type="text" value="<%= search_query %>"></input>
  <button class="btn btn-default" type="submit">
    <i class="fa fa-search"></i>
  </button>
</form>